

/*=============================================================

    Authour URI: www.binarycart.com

    Version: 1.1

    License: MIT

    

    http://opensource.org/licenses/MIT



    100% To use For Personal And Commercial Use.

   

    ========================================================  */

/*==============================================

    GENERAL  STYLES    

    =============================================*/

body {

    font-family: 'Open Sans', sans-serif;

}



 #wrapper {

    width: 100%;

    background:#23282d;

}



#page-wrapper {

    padding: 15px 15px;

    min-height: 600px;

    background:#F3F3F3;

   

}

#page-inner {

    width:100%;

    margin:10px 20px 10px 0px;

    background-color:#fff!important;

    padding:20px;

    min-height:1200px;

}



.text-center {

    text-align:center;

}

.no-boder {

    border:1px solid #f3f3f3;

}

h2 {

    color: #ff981d;

}

h4 {

    padding-top:10px;

}

.square-btn-adjust {

    border: 0px solid transparent; 

   -webkit-border-radius: 0px;

-moz-border-radius: 0px;

border-radius: 0px;



}

p {

    font-size:16px;

    line-height:25px;

    padding-top:20px;

}

/*==============================================

   DASHBOARD STYLES    

    =============================================*/

.panel-back {

    background-color:#F8F8F8;



}

   .noti-box {

min-height: 100px;

padding: 20px;

}



    .noti-box .icon-box {

display: block;

float: left;

margin: 0 15px 10px 0;

width: 70px;

height: 70px;

line-height: 75px;

vertical-align: middle;

text-align: center;

font-size: 40px;

}

.text-box p{

    margin: 0 0 3px;

}

.main-text {

    font-size: 25px;

    font-weight:600;

}

.set-icon {

    -webkit-border-radius: 50px;

-moz-border-radius: 50px;

border-radius: 50px;



}

    .bg-color-green {

background-color: #00CE6F;

color: #fff;

}

 .bg-color-blue {

background-color: #A95DF0;

color: #fff;

}

  .bg-color-red {

background-color: #DB0630;

color: #fff;

}

  .bg-color-brown {

background-color: #B94A00;

color: #fff;

}





 .icon-box-right {

display: block;

float: right;

margin: 0 15px 10px 0;

width: 70px;

height: 70px;

line-height: 75px;

vertical-align: middle;

text-align: center;

font-size: 40px;

}



 .main-temp-back {

background: #8702A8;

color: #FFFFFF;

font-size: 16px;

font-weight: 300;

text-align: center;

}

 .main-temp-back .text-temp {

font-size: 40px;

}

.back-dash {

    padding:20px;

    font-size:20px;

    font-weight:500;

      -webkit-border-radius: 0px;

-moz-border-radius: 0px;

border-radius: 0px;

background-color:#2EA7EB;

color:#fff;

}

    .back-dash p {

        padding-top:16px;

        font-size:13px;

        color:#fff;

        line-height:25px;

        text-align:justify;

    }

    .back-footer-green {

    background-color: #009B50;

    border-top: 0px solid #fff;

}

     .back-footer-red {

    background-color: #AF0000;

    border-top: 0px solid #fff;

}

     .color-bottom-txt {

   color: #000;

font-size: 16px;

line-height: 30px;

}

     /*CHAT PANEL*/

 .chat-panel .panel-body {

height: 450px;

overflow-y: scroll;

}

 .chat-box {

margin: 0;

padding: 0;

list-style: none;

}

 .chat-box li {

margin-bottom: 15px;

padding-bottom: 5px;

border-bottom: 1px dotted #808080;

}

 .chat-box li.left .chat-body {

margin-left: 90px;

}

 .chat-box li .chat-body p {

margin: 0;

color: #8d8888;

}

.chat-img>img {

    margin-left:20px;

}



/*==============================================

    MENU STYLES    

    =============================================*/





.user-image {

    margin: 25px auto;

-webkit-border-radius: 10px;

-moz-border-radius: 10px;

border-radius: 10px;

max-height:170px;

max-width:170px;

}



.navbar-cls-top .navbar-brand {

color: #fff;

background: #6C594A;

width: 260px;

text-align: center;

height: 60px;

font-size: 30px;

font-weight: 700;

}

.active-menu {

    background-color:#C90000!important;

}



.arrow {

    float: right;

}



.fa.arrow:before {

    content: "\f104";

}



.active > a > .fa.arrow:before {

    content: "\f107";

}





.nav-second-level li,

.nav-third-level li {

    border-bottom: none !important;

}



.nav-second-level li a {

    padding-left: 37px;

}



.nav-third-level li a {

    padding-left: 55px;

}

.sidebar-collapse , .sidebar-collapse .nav{

	background:none;

}

.sidebar-collapse .nav {

	padding:0;

}

.sidebar-collapse .nav > li > a {

	color:#fff;

	/* background:#23282d; */

	text-shadow:none;

	

}

.sidebar-collapse > .nav > li > a {

	padding:15px 10px;

}

.sidebar-collapse > .nav > li {

	    border-bottom: 1px solid rgba(255, 255, 255, 0.05);


}

.sidebar-collapse .nav > li > a:hover,

.sidebar-collapse .nav > li > a:focus {

	

	background:#0A0A0A;

	outline:0;

}



.nav-second-level > li > a:before ,

.nav-third-level > li > a:before {

	content:"";

	display:block;

	position:absolute;

	left:20px;

	width:15px;

	height:1px;

	background:#ff0000;

	top:20px;

}

.nav-second-level > li > a:after,

.nav-third-level > li > a:after {

	content:"";

	display:block;

	position:absolute;

	left:20px;

	width:1px;

	height:100%;

	background:#ff0000;

	top:0px;

	z-index:10;

}

.nav-second-level  > li:last-child > a:after,

.nav-third-level  > li:last-child > a:after {

	height:50%;

}

.nav-third-level > li > a:after,

.nav-third-level > li > a:before  {

	left:40px;

}

.navbar-side {

	border:none;

	/* background-color: #202020;*/
 
	

}

.navbar-cls-top {

    background:#6C594A;

    border-bottom:none;

	

}

.navbar-cls-top .navbar-brand:hover {



background: #EDDDBC;

color:#6C594A;



}



.navbar-default {

border:0px solid black;

     

}

.navbar-header {

    background: #6C594A;

}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {

background-color: #B40101;

}

.navbar-default .navbar-toggle {

border-color: #fff;

}



.navbar-default .navbar-toggle .icon-bar {

background-color: #FFF;

}

.nav > li > a > i {

    margin-right:10px;

}

/*==============================================

    UI ELEMENTS STYLES     

    =============================================*/

.btn-circle {

width: 50px;

height: 50px;

padding: 6px 0;

 -webkit-border-radius: 25px;

-moz-border-radius: 25px;

border-radius: 25px;

text-align: center;

font-size: 12px;

line-height: 1.428571429;

}



/*==============================================

    MEDIA QUERIES     

    =============================================*/

 

 @media(min-width:768px) {

     #page-wrapper{

               margin: 0 0 0 172px;

        padding: 15px 30px;

        min-height: 1200px;

		

    }

	

	

    .navbar-side {

        z-index: 1;

        position: fixed;

        width: 260px;
        width: 165px;
        font-size: 12px;
    }



   .navbar {

 border-radius: 0px; 

}

   

}

.crop {

    width: 200px;

    height: 150px;

    overflow: hidden;

}



.crop img {

    width: 400px;

    height: 300px;

    margin: -75px 0 0 -100px;

}

.borda{

    margin: 20px 0px 10px 0px;

    border: 3px solid #f3f3f3;

}

@media (min-width: 960px){

.meu-anuncio.col-md-6.borda {

    min-height: 330px;

    width: 48% !important;

    margin: 20px 6px 10px 6px !important;

}

}



.margin-texto{

    margin-top: 10px;

    margin-left: 7px;

    margin-right: 7px;

}

.titulo-anuncio{

    color: #6C594A;

}

.anuncio-inativo{

    background: #ffe9e9;

    border: 3px solid #ffc4c4;

}



.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}
