#header.sticky-header #header-wrap {

    background-color: #735948 !important;

}
#primary-menu ul li.current>a, #primary-menu ul li:hover>a {
    color: #fff !important;
    font-size: 16px;
    font-weight: 400;
}
#side-panel-trigger a, #top-account a, #top-cart a, #top-search a {

    color: #ffffff !important;

}

.team-image {
    width: 100%;
    height: 220px;
    overflow: hidden;
}
.content-wrap {
    padding: 0px !important;
}
@media (max-width: 991px)
responsive.css:1
#header.semi-transparent, #header.transparent-header {
    background: #7C5845 !mportant;

}
.icon-reorder:before {
    color: #fff;
}
#header {
    background: #735948;
}
#header, #header-wrap, #logo img {
    height: auto;
}
